.list {
  list-style: none;
  padding: 0;
  margin-left: 25px;
  margin-right: 25px;
}

.listItemContainer {
  margin-bottom: 15px;
}

.listCounter {
  display: inline-block;
  width: 25px;
  margin-left: -25px;
  font-size: 0.8rem;
}

.center {
  text-align: center;
  width: 100%;
  display: block;
}
