.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainContent {
  width: 100%;
}

@media screen and (min-width: 776px) {
  .mainContent {
    width: 500px;
  }
}

.input {
  margin-bottom: 20px;
}
